<div *ngIf="message"><p style="color: red">{{ message }}</p></div>
<form #customerForm="ngForm" (ngSubmit)="editCustomer(customerForm)">
  <input type="hidden" *ngIf="customer" [(ngModel)]="customer.id" name="id">
  <h4>Edit customer</h4>
  <hr style="border: 1px solid black"/>
  <div class="form-group">
    <label>First Name:</label>
    <input type="text" *ngIf="customer" name="firstName" [(ngModel)]="customer.firstName" class="form-control" style="border: 1px solid black"/>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" *ngIf="customer" class="form-control" [(ngModel)]="customer.lastName" name="lastName" style="border: 1px solid black">
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-success" style="margin-right: 5px">Save</button>
    <button (click)="backCM()" class="btn btn-success" style="margin-right: 5px">Back</button>
  </div>
</form>
