
table {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
table th {
  font-weight: bold;

}

tr td {
  border: 1px solid black;
}

tr th {
  border: 1px solid black;
}
button{
  background: #a7bac2;
}
button:hover {
  background: #d5d54d;
}

